<form class="form-group" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input
      class="form-control"
      [ngClass]="{'is-invalid': (form.controls['currentPassword'].invalid && form.controls['currentPassword'].touched)}"
      type="password"
      name="currentPassword"
      formControlName="currentPassword"
      placeholder="Текущий пароль"
      autocomplete="current-password">
    <div class="invalid-feedback">
      <span *ngIf="form.controls['currentPassword'].errors?.['required']">
        Необходимо указать текущий пароль<br>
      </span>
      <span *ngIf="form.controls['currentPassword'].errors?.['minlength']">
        Пароль должен содержать не менее {{form.controls['currentPassword'].errors?.['minlength']['requiredLength']}}
        символов<br>
      </span>
      <span *ngIf="form.controls['currentPassword'].errors?.['pattern']">
        Пароль должен содержать цифры, заглавные и прописные латинские буквы<br>
      </span>
    </div>
  </div>
  <div class="form-group pt-3">
    <input
      class="form-control"
      [ngClass]="{'is-invalid': ((form.controls['newPassword'].invalid || form.invalid) && form.controls['newPassword'].touched)}"
      type="password"
      name="newPassword"
      formControlName="newPassword"
      placeholder="Новый пароль"
      autocomplete="new-password">
    <div class="invalid-feedback">
      <span *ngIf="form.controls['newPassword'].errors?.['required']">
        Необходимо указать новый пароль<br>
      </span>
      <span *ngIf="form.controls['newPassword'].errors?.['minlength']">
        Пароль должен содержать не менее {{form.controls['newPassword'].errors?.['minlength']['requiredLength']}}
        символов<br>
      </span>
      <span *ngIf="form.controls['newPassword'].errors?.['pattern']">
        Пароль должен содержать цифры, заглавные и прописные латинские буквы<br>
      </span>
      <span *ngIf="form.errors?.['differentPasswords']">
        Пароли не должны совпадать<br>
      </span>
    </div>
  </div>
  <div class="pt-3">
    <button class="btn btn-block btn-outline-dark" type="submit" [disabled]="form.invalid || form.disabled">Изменить пароль</button>
  </div>
  <div class="alert alert-danger mt-3" *ngIf="error">{{error}}</div>
  <div class="alert alert-success mt-3" *ngIf="success">{{success}}</div>
</form>
<div class="pt-5 text-muted text-center">
  <a class="link-dark text-decoration-none fst-italic link-opacity-75-hover" routerLink="/main">Отмена</a>
</div>
