<div class="row">
  <div class="form-group col-lg">
    <label class="form-label" for="ideal">Эталонная маркировка</label>
    <input
      *ngIf="!idealImage"
      class="form-control"
      type="file"
      id="ideal"
      (change)="onIdealSelect($event)">
    <app-image-with-figures *ngIf="idealImage" [image]="idealImage"></app-image-with-figures>
  </div>
  <div class="form-group col-lg mt-3 mt-lg-0">
    <label class="form-label" for="photo">Фотография коробки</label>
    <input
      *ngIf="!photoImage"
      class="form-control"
      type="file"
      id="photo"
      (change)="onPhotoSelect($event)">
    <app-image-with-figures *ngIf="photoImage" [image]="photoImage"></app-image-with-figures>
  </div>
</div>
