<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
  <button
    type="button"
    class="btn-close ms-3"
    aria-label="Close"
    (click)="modalRef.close()">
  </button>
</div>
<div class="modal-body">
  <app-image-with-figures *ngIf="loaded"
                          [image]="image"
                          [barcodeQuadrilateral]="barcodeQuadrilateral"
                          [logoQuadrilateral]="logoQuadrilateral"
                          [rectangles]="rectangles">
  </app-image-with-figures>
  <div *ngIf="!loaded" class="alert alert-warning">Изображение не загружено</div>
</div>
